<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory App</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="wrapper">
      <%- include('header') %>
      <main class="game-details-main">
        <div class="background">
          <div
            class="background-img"
            style="background-image: <%=` url(${game.image_url}) `%>"
          ></div>
          <div class="background-solid"></div>
        </div>
        <div class="game-details">
          <img
            src="<%= game.image_url %>"
            alt="<%= `${game.title} cover art`%>"
          />
          <aside>
            <h1><%= game.title%></h1>
            <p><%= game.description %></p>
            <p>Release date: <%= `${game.release_date}`.slice(3, 15) %></p>
          </aside>
        </div>
      </main>
      <%- include('footer') %>
    </div>
  </body>
</html>
