<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Game Form</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="wrapper">
      <%- include('header') %>
      <main>
        <h1>Update Game Form</h1>
        <form action="/update/game" method="post" id="gameForm">
          <label for="title">Title</label>
          <input
            type="text"
            name="title"
            id="title"
            required
            value="<%=game.title%>"
          />
          <label for="devList">Developers</label>
          <section class="form-dev-list">
            <% devs.forEach((dev) => { %>
            <input
              type="checkbox"
              name="<%=dev.name%>"
              id="<%=dev.name%>"
              value="<%=dev.id%>"
            />
            <label for="<%=dev.name%>"><%=dev.name%></label>
            <% }); %>
          </section>
          <input type="hidden" name="devList" id="devList" />
          <label for="releaseDate">Release date</label>
          <input
            type="date"
            name="releaseDate"
            id="releaseDate"
            required
            value="<%=game.release_date.toISOString().slice(0, 10)%>"
          />
          <label for="genreList">Genres</label>
          <section class="form-genre-list">
            <% genres.forEach((genre) => { %>
            <input
              type="checkbox"
              name="<%=genre.name%>"
              id="<%=genre.name%>"
              value="<%=genre.id%>"
            />
            <label for="<%=genre.name%>"><%=genre.name%></label>
            <% }); %>
          </section>
          <input type="hidden" name="genreList" id="genreList" />
          <label for="imageUrl">Image URL</label>
          <input
            type="text"
            name="imageUrl"
            id="imageUrl"
            required
            value="<%=game.image_url%>"
          />
          <label for="description">Description</label>
          <textarea
            name="description"
            id="description"
            maxlength="200"
            required
          >
<%=game.description%></textarea
          >
          <input type="hidden" name="oldTitle" value="<%=game.title%>" />
          <input
            type="hidden"
            name="selectedDevs"
            value="<%=JSON.stringify(selectedDevs)%>"
          />
          <input
            type="hidden"
            name="selectedGenres"
            value="<%=JSON.stringify(selectedGenres)%>"
          />
          <button type="submit" id="submitBtn">Submit</button>
        </form>
        <%- include("partials/errors.ejs") %>
      </main>
      <%- include('footer') %>
    </div>
    <script>
      const currentDevs = JSON.parse(
        document.querySelector("input[name='selectedDevs']").value
      );
      const devCheckboxes = document.querySelectorAll(
        ".form-dev-list input[type='checkbox']"
      );
      currentDevs.forEach((dev) => {
        devCheckboxes.forEach((checkbox) => {
          if (checkbox.name == dev.name) {
            checkbox.checked = true;
          }
        });
      });
      const currentGenres = JSON.parse(
        document.querySelector("input[name='selectedGenres']").value
      );
      const genreCheckboxes = document.querySelectorAll(
        ".form-genre-list input[type='checkbox']"
      );
      currentGenres.forEach((genre) => {
        genreCheckboxes.forEach((checkbox) => {
          if (checkbox.name == genre.name) {
            checkbox.checked = true;
          }
        });
      });
      function getGenreArr(e) {
        e.preventDefault();
        const genres = [];
        const genreCheckboxes = document.querySelectorAll(
          ".form-genre-list input[type='checkbox']:checked"
        );
        genreCheckboxes.forEach((checkbox) => {
          genres.push(checkbox.value);
        });
        document.querySelector("input[name='genreList']").value =
          JSON.stringify(genres);
        console.log(document.querySelector("input[name='genreList']").value);
        const devs = [];
        const devCheckboxes = document.querySelectorAll(
          ".form-dev-list input[type='checkbox']:checked"
        );
        devCheckboxes.forEach((checkbox) => {
          devs.push(checkbox.value);
        });
        document.querySelector("input[name='devList']").value =
          JSON.stringify(devs);
        console.log(document.querySelector("input[name='devList']").value);
        document.getElementById("gameForm").submit();
      }
      const submitBtn = document.querySelector("#submitBtn");
      submitBtn.addEventListener("click", getGenreArr);
    </script>
  </body>
</html>
